@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --gris_claro: #b5b5b5;
  --blanco: #D8D8D8;
  --gris_oscuro: #262626;
  --marquee-height: 10000px;
  --navbar-height: 100px;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Optional: prevent overflow scrolling */
}


/* Importing the HelveticaNow fonts */
@font-face {
  font-family: 'HelveticaNowDisplay-Black';
  src: url('/fonts/HelveticaNowDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNowText-Regular';
  src: url('/fonts/HelveticaNowText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNowDisplay-Bold';
  src: url('/fonts/HelveticaNowDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNowDisplay-Italic';
  src: url('/fonts/HelveticaNowDisplay-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Applying custom font classes */
.font-helveticaNowDisplayBlack {
  font-family: 'HelveticaNowDisplay-Black', sans-serif;
}

.font-helveticaNowTextRegular {
  font-family: 'HelveticaNowText-Regular', sans-serif;
}

.font-helveticaNowDisplayBold {
  font-family: 'HelveticaNowDisplay-Bold', sans-serif;
}

.font-helveticaNowDisplayItalic {
  font-family: 'HelveticaNowDisplay-Italic', sans-serif;
}


.button {
  border: 1px solid var(--verde);
  color: var(--verde);
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: var(--gris_oscuro);
  color: var(--gris_claro);
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'SupplySans', sans-serif;
  cursor: none; /* Hides the default cursor */

}

footer {
  margin-top: auto;
}

html {
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
}

.hover-underline-animation {
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 97%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #262626;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.custom {
  background-color: #D8D8D8;
}

@layer utilities {
  .animate-slow-spin {
    animation: spin 2s linear infinite; /* Adjust the duration to your liking */
  }
}


@keyframes appear { 
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  margin: 0 5px;
  opacity: 0;
  animation: appear 1s ease-in-out infinite;
}

.animation-delay-300 {
  animation-delay: 0.3s;
}

.animation-delay-600 {
  animation-delay: 0.6s;
}

.cursor {
  display: inline-block;
  width: 0.5em;
  height: 1em;
  background-color: currentColor;
  animation: blink 1s step-start infinite;
  margin-left: 0.1em;
  transform: translateY(0.15em);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.text-content {
  font-size: 16px;
}

.spacer {
  display: inline-block;
  width: 10px;
}

.image-scroll-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.image-item {
  min-width: 100%;
  transition: transform 0.5s ease;
}

.image-item.active {
  transform: scale(1.05);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: var(--gris_oscuro);
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 80%;
  overflow: hidden;
  position: relative;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: var(--gris_claro);
  font-size: 18px;
  cursor: pointer;
}

.modal-image {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
}
@keyframes slideInFromAbove {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar-item {
  animation: slideInFromAbove 0.5s ease-out forwards;
}

@keyframes slideInFromBelow {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero-item {
  animation: slideInFromBelow 0.5s ease-out forwards;
}


.rotate-x-180 {
  transform: rotateX(180deg);
  transition: transform 0.5s ease;
}

.rotate-x-90 {
  transform: rotateX(90deg);
  transition: transform 0.5s ease;
}

.rotate-x-45 {
  transform: rotateX(45deg);
  transition: transform 0.5s ease;
}

.rotate-x-hover:hover {
  transform: rotateX(90deg);
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: left 0.1s ease, top 0.1s ease; /* Ensure smooth transition */
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@layer utilities {
  .animate-slow-spin {
    animation: spin 4s linear infinite; /* Adjust the duration to your liking */
  }
}
