@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin:0;
    padding:0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'SupplySans', sans-serif;
}

footer{
  margin-top: auto;
}

html {
    font-family: 'Supply Sans';
    --scroll-behavior: smooth!important;
    scroll-behavior: smooth!important;
}

@layer base {
    @font-face{
        font-family: 'Base Neue';
        src: url(../public/fonts/BaseNeueTrial-Black.woff2) format('woff2');
        font-display: swap;
        font-weight: 900;
        font-style: black;
    }
    @font-face{
        font-family: 'Base Neue';
        src: url(../public/fonts/BaseNeueTrial-Bold.woff2) format('woff2');
        font-display: swap;
        font-weight: 700;
        font-style: bold;
    }
    @font-face{
        font-family: 'Base Neue';
        src: url(../public/fonts/BaseNeueTrial-ExpBlackObliq.woff2) format('woff2');
        font-display: swap;
        font-weight: normal;
        font-style: italic;
    }
    @font-face{
        font-family: 'Base Neue';
        src: url(../public/fonts/BaseNeueTrial-Medium.woff2) format('woff2');
        font-display: swap;
        font-weight: 500;
        font-style: medium;
    }
    @font-face{
        font-family: 'Base Neue';
        src: url(../public/fonts/BaseNeueTrial-SemiBold.woff2) format('woff2');
        font-display: swap;
        font-weight: 500;
        font-style: medium;
    }
    @font-face{
        font-family: 'Base Neue';
        src: url(../public/fonts/BaseNeueTrial-Regular.woff2) format('woff2');
        font-display: swap;
        font-weight: 400;
        font-style: regular;
    }
    @font-face{
        font-family: 'Base Neue';
        src: url(../public/fonts/BaseNeueTrial-Light.woff2) format('woff2');
        font-display: swap;
        font-weight: 300;
        font-style: light;
    }
    @font-face{
        font-family: 'OffBit';
        src: url(../public/fonts/OffBitTrial-DotBold.woff2) format('woff2');
        font-display: swap;
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
      font-family: 'SupplySans';
      src: url(../public/fonts/PPSupplySans-Regular.woff2) format('woff2');
      font-display: swap; 
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'SupplySans';
      src: url(../public/fonts/PPSupplySans-Ultralight.woff2) format('woff2');
      font-display: swap; 
      font-weight: lighter;
      font-style: normal;
    }
}


  .hover-underline-animation {
    position: relative;
  }
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 97%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ADE252;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }




  .custom {
    background-color: #010101;
  }


  
  @keyframes appear {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .animate-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    margin: 0 5px;
    opacity: 0;
    animation: appear 1s ease-in-out infinite;
  }
  
  .animation-delay-300 {
    animation-delay: 0.3s;
  }
  
  .animation-delay-600 {
    animation-delay: 0.6s;
  }

.cursor {
    display: inline-block;
    width: 0.5em; /* Adjust width as needed */
    height: 1em; /* Adjust height to match text size */
    background-color: currentColor; /* Match the color of the text */
    animation: blink 1s step-start infinite;
    margin-left: 0.1em; /* Optional: small margin to avoid touching the letter */
    transform: translateY(0.15em); /* Adjust this value to move the cursor lower */
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
.no-scroll {
  overflow: hidden;
  height: 100%;
}
